[submodule "CiteULike-a"]
	path = datasets/citeulike-a
	url = https://github.com/js05212/citeulike-a.git
[submodule "RecSys2019"]
	path = RecSys2019_DeepLearning_Evaluation
	url = https://github.com/MaurizioFD/RecSys2019_DeepLearning_Evaluation.git
